<div class="row">
  <div class="col" id="chartArea">
  </div>
</div>
<div class="row">
  <div class="col">
      <div class="card-deck">
          <div class="card">
           
            <div class="card-body text-center">
              <h5 class="card-title">Location</h5>
              <div class="dropdown-divider"></div>
              <p class="card-text">Name : {{windFarmData.name}}</p>
              <div class="dropdown-divider"></div>
             <p class="card-text">Country : {{windFarmData.country}}</p>
             <div class="dropdown-divider"></div>
             <p class="card-text">Continent : {{windFarmData.continent}}</p>
             
             
            </div>
          </div>
          <div class="card">
            
            <div class="card-body text-center">
              <h5 class="card-title">Park Details</h5>
              <div class="dropdown-divider"></div>
              <p class="card-text">Turbines : {{windFarmData.turbines}}</p>
              <div class="dropdown-divider"></div>
              <p class="card-text">Capacity : {{windFarmData.capacity}}</p>
              <div class="dropdown-divider"></div>
              <p class="card-text">Outreach : {{windFarmData.outreach}}</p>
              
              
             
            </div>
          </div>
          <div class="card">
            
            <div class="card-body text-center">
              <h5 class="card-title">Actions & Events</h5>
              

              
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"  *ngFor="let item of windFarmData.actions">{{item.action}} <span class="badge badge-primary">{{item.status}}</span></li>
              </ul>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"  *ngFor="let item of windFarmData.events">{{item}} </li>
              </ul>
            </div>
          </div>
        </div>
  </div>
    
  
</div>

