<div class="row" id="header">
<div class="col-sm-2">
    <img src="../../assets/img/Orsted_logo.svg" class="img-fluid">
</div>
<div class="col-sm-10 text-center">
  <!-- <div class="btn-group mx-auto" role="group" aria-label="Basic example"  >
    <button type="button" class="btn btn-outline-dark"routerLink="/">Dashboard</button>
    <button type="button" class="btn btn-outline-dark" routerLink="/mapView">MapView</button>
   
  </div> -->
  <h4 class="navbar-brand">Wind Service Manager</h4>
</div>

</div>